
body {
	margin: 0;
	background: black;
	color: white;
}

.grid {
	display: grid;
}
.panel {
	background: darkslategrey;
}

.main_grid {
	margin: 0;
	grid-gap: 1rem;
	grid-template-columns: auto auto auto;
}

header {
	position: sticky;
	top: 0;
	grid-column: 1 / span 6;
	grid-row: 1;
}

nav {
	background: dimgrey;
	
}

.title {
	grid-column: 1 / span 2;
}

.panel_header {
}

.simulator_controls {
	grid-column: 6;
}

.simulator_options {
	grid-column: 4;
}

.state_panel {
	grid-row: 2 / span 2;
	grid-column: 1 / span 5;
	background: darkslategrey;
	min-height: 30rem;
}

.rules_panel {
	grid-row: 2;
	grid-column: 6;
	height: 15rem;
	max-width: 30rem;
}

.options_panel {
	grid-row: 3;
	grid-column: 6;
	min-height: 15rem;
}

.colour_panel {
	grid-row: 4;
	grid-column: 1 / span 5;
}

.import_export_panel {
	grid-row: 4;
	grid-column: 6;
}

#rule_container {
	overflow-x: hidden;
	overflow-y: auto;
}

#colour_container {
	overflow-x: auto;
	overflow-y: auto;
}

#rule_list > tr > td > input  {
	max-width: 60px;
}

#colour_list > tr > td > input {
	max-width: 80px;
}